.block-language-timer {
    background-color: rgba(0,0,0,0.75);
    height: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em;
    margin: 0;
    color: white;
}

.block-language-timer timer-button-group {
    display: flex;
    justify-content: space-around;
}

.block-language-timer button {
    margin: 0 0.5em;
    padding: 1em;
}

.block-language-timer span {
    display: inline-block;
}